#navigation {
	margin:0;
	padding: 0;
	clear:both;
	height:51px;
}

body {
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size:cover
}
h1{
	text-align: center;
	color: white;
	color: #fff;
    font-family: 'Monoton', cursive;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
}
.h6{
	color: blue;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color:black;
	color: white;
	text-align: center;
	
 }
ul.nav-main,
ul.nav-main li {
	list-style: none;
	margin: 0;
	padding: 0;
}


ul.nav-main {
	position: relative;
	z-index: 597;
}

ul.nav-main li:hover > ul {
	visibility: visible;
}


ul.nav-main li.hover,
ul.nav-main li:hover {
	position: relative;
	z-index: 599;
	cursor: pointer;
	background: url(images/dropdown-bg-hover.gif) repeat-x left top;
}



ul.nav-main li {
	float:left;
	display:block;
	height: 51px;
	color: #999;
	font: 14px Arial, Helvetica, sans-serif;
	background: url(images/separator.gif) no-repeat right center;
}

ul.nav-main li a {
	display:block;
	padding: 16px 16px 0 16px;
	height: 35px;
	color:white;
	font: 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}


