@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#navigation {
	margin: 10px;
	padding: 10px;
	clear: both;
	height: 51px;
}

body {
	margin: 0;
	overflow: hidden;
}

.card-title {
	text-align: auto;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;

}

#latar {
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: justify;
	padding-left: 50px;
	padding-right: 100px;
	height: 700px;
	width: 100%;
}

.tembus {
	position: relative;
	top: 10%;
	background-color: rgba(13, 16, 184, 0.2);
	height: 200px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.teks {
	text-align: justify;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
	font-size: 40px;
	color: #009900;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	color: whitesmoke;
}

p {
	color: #f55;
}

body {
	background-repeat: no-repeat;
	background-size: cover
}

.container {
	display: flex;
	height: 120%;
	float: top;
	width: 100%;
	box-sizing: border-box;
	background-color: white;
	box-shadow: 0px 3px 18px -1px rgba(153, 139, 139, 0.75);
	-webkit-box-shadow: 0px 3px 18px -1px rgba(153, 139, 139, 0.75);
	-moz-box-shadow: 0px 3px 18px -1px rgba(153, 139, 139, 0.75);
	border-radius: 4px;
	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 50px;
}

h1 {
	text-align: center;
	color: white;
	color: #fff;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	display: block;
	position: relative;
}

p {
	color: white;
	text-align: center;

}

.portfolio-image {
	width: 200px;
	margin: auto;
}
.blog-image {
	width: 400px;
	margin: auto;
}
.team-image {
	width: 200px;
	height: 200px;
	margin: auto;
}

#about,
#portfolio,
#blog {
	padding: 40px;
}

.card {
	margin: auto;
}

.title {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	margin-bottom: 70px;
}

.about-image {
	width: 250px;
	padding-left: 50px;
}

.circle {
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	display: block;
	bottom: 0;

}

ul.nav-main,
ul.nav-main li {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.nav-main {
	position: relative;
	z-index: 597;
}

ul.nav-main li:hover>ul {
	visibility: visible;
}

ul.nav-main li.hover,
ul.nav-main li:hover {
	position: relative;
	z-index: 599;
	cursor: pointer;
	background: url(images/dropdown-bg-hover.gif) repeat-x left top;
}

ul.nav-main li {
	float: left;
	display: block;
	height: 51px;
	color: #999;
	font: 14px Arial, Helvetica, sans-serif;
	background: url(images/separator.gif) no-repeat right center;
}

ul.nav-main li a {
	display: block;
	padding: 16px 16px 0 16px;
	height: 35px;
	color: white;
	font: 14px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

div#main {
	width: 830px;
	height: 650px;
	margin: 0 auto;
	font-family: 'Segoe UI', sans-serif
}

div#form {
	color: #009900;
	text-align: center;
	border: 1px solid rgb(204, 204, 204);
	width: 300px;
	padding: 0 50px 15px;
	margin-top: 20px;
	box-shadow: 0 0 15px;
	border-radius: 6px;
	float: left
}

#main h1 {
	margin-top: 40px
}

hr {
	margin-top: -5px
}

label {
	float: left;
	font-size: 16px
}

input[type="text"] {
	width: 100%;
	margin-top: 10px;
	height: 35px;
	margin-bottom: 25px;
	padding: 10px;
	border: 3px solid #2BC1F2
}

textarea {
	width: 100%;
	border: 3px solid #2BC1F2;
	padding: 10px;
	margin-bottom: 25px;
	margin-top: 10px;
	height: 100px;
	resize: none
}

input[type="submit"] {
	width: 100%;
	padding: 10px 45px;
	background-color: #2BC1F2;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	cursor: pointer;
	font-family: 'Segoe UI', sans-serif
}

@media (max-width: 768px) {
	.banner-text {
		font-size: 24px;
	}
}